<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="LiuHD"/>
    <meta name="version" content="1.0"/>
    <link href="css/common.css" type="text/css" rel="stylesheet">
    <title>Head first html and css</title>
</head>
<body>
<div id="table">
    <div class="table-row">
        <div class="table-cell">
            <p>
                <a id="top"></a>
            </p>

            <h1>知道的：</h1>
            <ul>
                <li>abbr</li>
                <li>address</li>
                <li>area</li>
                <li>DOCTYPE</li>
                <li>html</li>
                <li>head</li>
                <li>title</li>
                <li>body</li>
                <li>div</li>
                <li>footer</li>
                <li>header</li>
                <li>bdi</li>
                <li>bdo</li>
                <li>blockquote</li>
                <li>b</li>
                <li>base</li>
                <li>i</li>
                <li>a</li>
                <li>p</li>
                <li>i</li>
                <li>br</li>
                <li>hr</li>
                <li>button</li>
                <li>input</li>
                <li>del</li>
                <li>ins</li>
                <li>meter:IE不支持</li>
                <li>
                    <ul>
                        <li>table</li>
                        <li>caption</li>
                        <li>thead</li>
                        <li>tbody</li>
                        <li>tr</li>
                        <li>td</li>
                        <li>tfoot</li>
                    </ul>
                </li>
                <li>短语元素</li>
                <li>
                    <ul>
                        <li>em:强调</li>
                        <li>code:代码</li>
                        <li>cite:引用</li>
                        <li>strong:比em更强调</li>
                        <li>kbd:标识从键盘输入的量</li>
                        <li>var:定义变量</li>
                        <li>samp</li>
                        <li>dfn:定义术语</li>
                    </ul>
                </li>
            </ul>
            <hr>
            <h1>不懂的：</h1>
            <ul>
                <li>aside</li>
                <li>meta</li>
                <li>canvas</li>
            </ul>
            <h1>新知识:</h1>
            <ul>
                <li>块元素</li>
                <li>内连元素</li>
            </ul>
            <abbr title="Cascading style sheet">CSS</abbr>

            <p>我正在<q>学习</q><abbr title="Hypertext mark language">HTML</abbr></p>

            <p>
                <a class="back-to-top" href="#top">Back to top</a>
                <a id="bottom"></a>
            </p>
        </div>
        <div class="table-cell">
            <!--<code id="code">-->
                <span style="color: #000000">
&lt;!DOCTYPE&nbsp;html&gt;
    <br/>&lt;html&gt;
    <br/>&lt;head&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta&nbsp;charset="utf-8"&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta&nbsp;name="author"&nbsp;content="LiuHD"/&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta&nbsp;name="version"&nbsp;content="1.0"/&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;link&nbsp;href="css/common.css"&nbsp;type="text/css"&nbsp;rel="stylesheet"&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;snail&lt;/title&gt;
    <br/>&lt;/head&gt;
    <br/>&lt;body&gt;
    <br/>&lt;p&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;id="top"&gt;&lt;/a&gt;
    <br/>&lt;/p&gt;
    <br/>
    <br/>&lt;h1&gt;知道的：&lt;/h1&gt;
    <br/>&lt;ul&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;abbr&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;address&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;area&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;DOCTYPE&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;html&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;head&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;title&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;body&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;div&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;footer&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;header&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;bdi&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;bdo&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;blockquote&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;b&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;base&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;i&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;a&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;p&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;i&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;br&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;hr&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;button&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;input&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;del&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;ins&lt;/li&gt;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;meter:IE不支持&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;table&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;caption&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;thead&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tbody&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tr&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;td&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tfoot&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;短语元素&lt;/li&gt;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;em:强调&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;code:代码&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;cite:引用&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;strong:比em更强调&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;kbd:标识从键盘输入的量&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;var:定义变量&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;samp&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dfn:定义术语&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;<br/>&lt;/ul&gt;<br/>&lt;hr&gt;
    <br/>&lt;h1&gt;不懂的：&lt;/h1&gt;<br/>&lt;ul&gt;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;aside&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;meta&lt;/li&gt;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;canvas&lt;/li&gt;
    <br/>&lt;/ul&gt;<br/>&lt;h1&gt;新知识:&lt;/h1&gt;<br/>&lt;ul&gt;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;块元素&lt;/li&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;内连元素&lt;/li&gt;<br/>&lt;/ul&gt;<br/>&lt;abbr&nbsp;title="Cascading&nbsp;style&nbsp;sheet"&gt;CSS&lt;/abbr&gt;
    <br/><br/>&lt;p&gt;我正在&lt;q&gt;学习&lt;/q&gt;&lt;abbr&nbsp;title="Hypertext&nbsp;mark&nbsp;language"&gt;HTML&lt;/abbr&gt;&lt;/p&gt;
    <br/><br/>&lt;p&gt;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;class="back-to-top"&nbsp;href="#top"&gt;Back&nbsp;to&nbsp;top&lt;/a&gt;
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;id="bottom"&gt;&lt;/a&gt;<br/>&lt;/p&gt;<br/>&lt;footer&gt;<br/>&nbsp;&nbsp;&nbsp;&nbsp;你好
    <br/>&lt;/footer&gt;<br/>&gt;<br/>&lt;/body&gt;<br/>&lt;/html&gt;</span>
            <!--</code>-->
        </div>
    </div>
</div>
<div id="position-fix">
    大家好!我是悬浮小公举...
</div>
<a href="tel:13817037826">打电话</a>
<footer>
    Copyright.Martin 2016
</footer>
</body>
</html>