<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>datepicker demo</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- <script src="http://code.jquery.com/jquery-1.12.4.js"></script> -->
    <!-- <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <style type="text/css">
    </style>
</head>
<body>
    <canvas id="my-canvas"></canvas>
    <script type="text/javascript">
    var cvs = document.getElementById('my-canvas');
        ctx = cvs.getContext('2d');
        window.onload = function() {
        var ww = window.innerWidth;
        cvs.setAttribute('width',ww);
        cvs.setAttribute('height',"1000");
        window.onclick = function(){
            theRect = ctx.rect(10, 10, 600, 100);
            ctx.stroke();
        }
    }
    </script>
</body>
</html>
